<div ng-controller="PetsReviewCtrl as ctrl" ng-init="ctrl.init()">
    <div class="config-control-panel config-panel-margin main-width ">
        &nbsp;&nbsp;Sort by:
        <button type="button" class="btn btn-default review-control-button" ng-click="ctrl.sortDates()">Date</button>
        <button type="button" class="btn btn-default review-control-button" ng-click="ctrl.sortPrices()">Price</button>
    </div>

    <div ng-repeat="item in model.data" class="panel panel-default control-panel config-control-panel config-panel-margin main-width md-whiteframe-6dp review-panel review-item-container">
        <button class="md-button-toggle md-button md-ink-ripple review-item-button" type="button" ng-click="toggled = !toggled" aria-controls="docs-menu-{{item.name}}" aria-expanded="form.item.toggled" aria-label="item.id">
            <div flex layout="row" class="ng-binding ng-scope layout-row flex">
                {{item.species}}: {{item.breed}}
                <span flex class="flex"></span>
                <div class="pull-right btn review-control-button"> Published {{item.publicationDate | date : 'd LLLL yyyy' }}</div>
            </div>
        </button>

        <div id="docs-menu-{{item.name}}" class="menu-toggle-list" ng-class="{'toggled' : !toggled}">
            <div class="config-overview-contents">
                <div flex layout="row" class="panel-body">
                    <div>
                        {{item.name}}<br/><br/>
                        {{item.description}}
                    </div>
                    <div flex class="margin-top-30">
                        <button ng-hide="ctrl.hideButton(item)" type="button" class="pull-right pull-bottom btn btn-danger review-control-button" ng-click="ctrl.buy(item)">Buy {{item.price}}€</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
