<div ng-controller="PetsSalesCtrl as ctrl" ng-init="ctrl.init()">
	<div class="panel panel-body panel-default config-panel config-control-panel main-width md-whiteframe-6dp">

		<!-- Header Start -->
		<div class="controls controls-row">
			<h3 class="panel-title add-panel-title">Buy {{pet.name}}</h3>
		</div>

		<!-- Form Start -->
		<form name="buyPetForm" class="panel-body form-group margin-row">
			<md-content layout="column" class="md-padding">

				<label>Price: {{pet.price}}€</label>

				<md-input-container>
					<label>Payment</label>
					<md-select name="payment" ng-model="sale.payment" required="">
						<md-option value="CASH">Cash on delivery</md-option>
						<md-option value="CREDIT_CARD">Credit card</md-option>
						<md-option value="PAYPAL">Paypal</md-option>
					</md-select>
				</md-input-container>

				<md-input-container>
					<label>Delivery</label>
					<md-select name="delivery" ng-model="sale.delivery" required="">
						<md-option value="SHIPPING">Shipping to your mail address</md-option>
						<md-option value="PICKUP">Pick up from the pet store</md-option>
					</md-select>
				</md-input-container>

				<md-input-container>
					<label>Remarks</label>
					<input name="title" ng-model="sale.remarks">
				</md-input-container>

			</md-content>
		</form>

		<!-- Buttons Start -->
		<div class="controls controls-row">
			<div class="pull-left">
				<md-button class="md-accent" ng-click="ctrl.cancel()">Close</md-button>
				<md-button class="md-accent" ng-click="ctrl.reset()">Reset</md-button>
			</div>
			<div class="pull-right" layout="row">
				<md-button class="md-accent md-primary" type="button" ng-click="ctrl.buy()">BUY</md-button>
			</div>
		</div>
	</div>
</div>